/*Enlace a las fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f14a17; 
}

/**********************************
    Estilos base: para celular
**********************************/
main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/*Estilos para la sección contenedor-info*/
#seccion-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#seccion-info h2 {
    color: #ffffff;  
    font-family: 'Montserrat';
    font-size: 5rem;
    font-weight: 800;
}

#seccion-info p {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 1.2rem;
    text-align: center;
}

#seccion-info img{
    width: 70%;
}

/*Estilos para la sección contenedor-botones*/
#seccion-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-custom {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    color: #f14a17;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins';
    transition: all 0.3s ease;
}

.btn-custom:hover {
    background-color: #f14a17;
    color: #ffffff;
    border: 2px solid #ffffff;
}


/*Estilos responsivos para dispositivos grandes*/
@media (min-width:768px) and (max-width: 1024px){
    #seccion-info img {
        width: 50%;
    }

    #seccion-botones {
        gap: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    #seccion-info img{
        width: 35%;
    }

    #seccion-botones {
        gap: 50px;
    }
}

@media (min-width: 1441px) {
    #seccion-info img{
        width: 25%;
    }

    #seccion-botones {
        gap: 100px;
    }

    .btn-custom {
        font-size: 1.2rem;
    }
}